@import 'normalize.css';
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --theme-color: rgb(23, 173, 160) !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    outline-color: var(--theme-color) !important;
    // border: none !important;
}

a[href] {
    text-decoration: none;
}

.text-theme {
    color: var(--theme-color);
}

.theme-hover {
}

.theme-hover:hover {
    color: var(--theme-color) !important;
}

.theme-background {
}

.theme-background:hover {
    background-color: var(--theme-color) !important;
    color: black;
    border: 1px solid var(--theme-color) !important;
}
// .outline-theme{
//     outline: rgb(23,173,160) !important;
// }
